.pokemon-stats-view__heading {
  margin-top: 0;
}

.pokemon-stats-view__card {
  width: 70%;
  height: 70%;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;
  background: #fff;
  color: rgba(0, 0, 0, .87);
  text-align: center;
}

.pokemon-stats-view__stat-value {
  padding: 16px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  background: #8E2DE2;
  background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);
  background: linear-gradient(to left, #4A00E0, #8E2DE2);
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}
